body{
    font-family: 'Open Sans', sans-serif;
}

h1{

    text-align: center;
}


#container{

    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;    
}

#container div{

    width: 200px;
    height: 200px;
}

#container div:nth-child(5){
    align-self: center;
}



#container2{

    background-color: #096921;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #096921;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

#container2 div{

    width: 200px;
    height: 200px;
}



#container3{

    background-color: #bb0820;
    width: 90%;
    /*height: 500px;*/
    margin: 0 auto;
    border: 5px solid #bb0820;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex-wrap: wrap;*/    
}

#container3 div{

    width: 200px;
    height: 200px;
    /*max-width: 300px;*/
    flex-basis: 600px;
    /*flex-grow: 1;*/
}

#container3 div:nth-child(1){
    flex-grow: 1;
    flex-shrink: 2;
}
#container3 div:nth-child(5){
    flex-grow: 2;
    flex-shrink: 0;
}


main{

    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #000000;
    display: flex;
}

main .sidebar{

    background-color: #7400b8;
    flex: 1 2 300px;
}

main .maincontent{

    background-color: #72efdd;
    flex: 2 1 800px;
}
