
tbody{

    color: rgb(247, 244, 250);

    background-color: #354958;
}


thead{

    color: rgb(247, 244, 250);

    background-color: #3a3f3b;
}

body{

    background-color: #ccc2b8;
}